[Unit]
Description=Puppeteer2 Node.js Server
After=network.target

[Service]
Type=simple
User=puppeteer
Group=puppeteer
WorkingDirectory=/opt/puppeteer2
Environment=PUPPETEER_CACHE_DIR=/opt/puppeteer2/.cache
ExecStart=/usr/bin/node /opt/puppeteer2/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
